@import "tailwindcss";
nav{
    width: 100%;
    background: rgb(234,224,213);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: 50px;
    backdrop-filter: blur(100px);

}


.brand{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.brand h2{
    
    padding-left: 20px;
    font-size: 30px;
    color: black;
}
.login{
display: inline-block;
    margin-right: 20px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 5px 20px;
    font-size: 20px;
    color: black;
    padding: 15px;
}
.nav-links{
    padding-right: 10px;
}
.dark-nav{
    background: #212ea0;
    transition: 0.5s;
}
.menu-icon{
    display: none;
}