@import "tailwindcss";
.navbox {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(234,224,213);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding:10px;
    padding-right: 70px;

  }
  
  .navbox a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 450;
    opacity: 80%;
    
  }
  
  .navbox .active {
    color: #3498DB;
  }
  
  .login{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    
  }
  
 .brand{
    position: absolute;
    left: 50px;
    margin: 0 15px;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 500;
 }