/* @import "tailwindcss"; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@600&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

*{
  
 
  font-family: "Outfit", serif;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

.slide-in-left {
  animation: slideInLeft 1.5s ease-in-out;
}

.slide-in-right {
  animation: slideInRight 1.5s ease-in-out;
}

.scale-up {
  animation: scaleUp 1s ease-in-out;
}
