
.contact-container {
    margin: 0 auto;

    /* padding: 30px 20px; */
    background-color: #fcc774;
}
.contact {
    margin: 0px auto;
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
    background: #ffffff;
    border: #000f38 30px ;
    box-shadow:  15px 20px 40px rgba(41, 36, 36, 0.952);
    border-radius: 10px;
   
}


/* Left Column (Text & Contact Info) */
.contact-column {
    flex-basis: 48%;
    color: #444;
}

.contact-column h3 {
    color: #000f38;
    font-weight: 600;
    font-size: 26px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-column h3 img {
    width: 35px;
    margin-left: 10px;
}

.contact-column p {
    max-width: 480px;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.contact-column ul {
    list-style: none;
    padding: 0;
}

.contact-column ul li {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 15px 0;
    font-weight: 500;
}

.contact-column ul li img {
    width: 28px;
    margin-right: 12px;
}

/* Right Column (Form) */
.contact form {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact form label {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

.contact form input,
.contact form textarea {
    display: block;
    width: 100%;
    background: #e4e2d9;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
    transition: 0.3s;
}

.contact form input:focus,
.contact form textarea:focus {
    border-color: #865000;
    background: #fcc87469;
}

/* Submit Button */
.contact form .btn {
    display: flex;
    align-items: center;
    background: rgb(240, 195, 147);
    color: #fff;
    font-size: 16px;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.contact form .btn img {
    width: 20px;
    margin-left: 10px;
}

.contact form .btn:hover {
    background:rgb(214, 147, 77);
}

/* Form Submission Message */
.contact-column span {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.title{
    margin: 0px;
   
}
.title img{
    height: 100px;
    width: 100px;
    padding: 0px;
    display: inline-block;
}
.result{
    color: green !important;
}

